.card {
  border-radius: 15px;
  background: rgba(196, 196, 196, 0.31);
  height: 350px;

  .inner-card {
  margin: 1.2em;
  }
  
  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    color: $yellow;
  }

  p {
    color: white;
  }

  button {
    color: $yellow;
    font-size: 1em;
    margin: auto;
    border: solid $yellow 2px;
  }

  ul {
    color: white;
    height: 2.4em;
    overflow-y: scroll;
  }

  .favorite-false {
    color: white;
    margin-left: auto;
    &:hover {
      color: $yellow;
    }
  }

    .favorite-true {
    color: $yellow;
    margin-left: auto;
    &:hover {
      color: white;
    }
  }
}




