.card {
  border-radius: 15px;
  background: rgba(196, 196, 196, 0.31);
  height: 350px;
  padding: .7em;
  text-align: center;

  p {
  color: white;
  }

  button {
  color: $yellow;
  font-size: 1em;
  margin: auto;
  border: solid $yellow 2px;
  }

  ul {
    color: white;
    height: 2.4em;
    overflow-y: scroll;
  }
}

h3 {
  color: $yellow;
}


